*{
    margin: 0;
    padding: 0;
}

html{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

body{
    display: grid;
    width: 100%;
    height: 100%;

    grid-template-columns: 10px 2fr 10px 2fr 10px 2fr 10px 2fr 10px 2fr 10px 0.5fr 10px;
    grid-template-rows: 10px 2fr 5px 2fr 5px 2fr 5px 2fr 10px;
    grid-template-areas:  
        ". .        . .        . .        . .        . .        . .     ."
        ". module01 . module02 . module03 . module04 . module05 . aside ."
        ". .        . .        . .        . .        . .        . aside ."
        ". module06 . module07 . module08 . module09 . module10 . aside ."
        ". .        . .        . .        . .        . .        . aside ."
        ". module11 . module12 . module13 . module14 . module15 . aside ."
        ". .        . .        . .        . .        . .        . aside ."
        ". module16 . module17 . module18 . module19 . module20 . aside ."
        ". .        . .        . .        . .        . .        . .     .";
    
        font-family: 'Nunito';
        background-color: rgb(235, 235, 235);
}

#module01{
    grid-area: module01;
}
#module02{
    grid-area: module02;
}
#module03{
    grid-area: module03;
}
#module04{
    grid-area: module04;
}
#module05{
    grid-area: module05;
}
#module06{
    grid-area: module06;
}
#module07{
    grid-area: module07;
}
#module08{
    grid-area: module08;
}
#module09{
    grid-area: module09;
}
#module10{
    grid-area: module10;
}
#module11{
    grid-area: module11;
}
#module12{
    grid-area: module12;
}
#module13{
    grid-area: module13;
}
#module14{
    grid-area: module14;
}
#module15{
    grid-area: module15;
}
#module16{
    grid-area: module16;
}
#module17{
    grid-area: module17;
}
#module18{
    grid-area: module18;
}
#module19{
    grid-area: module19;
}
#module20{
    grid-area: module20;
}
#aside{
    grid-area: aside;
}

.module{
    display: grid;
    background-color: white;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 2fr;
    grid-template-areas:  
        "name  name"
        "ppm   ppm"
        "alarm prealarm";
    
    box-shadow: 0px 3px 4px -1px rgba(0,0,0,0.48);
}
.name{
    grid-area: name;

    display: grid;
    justify-items: center;
    align-items: center;

    border-bottom: 2px solid rgb(235, 235, 235);
    font-size: 150%;
}
.ppm{
    grid-area: ppm;

    display: grid;
    justify-items: center;
    align-items: center;

    border-bottom: 2px solid rgb(235, 235, 235);
    font-size: 300%;
}
.alarm{
    grid-area: alarm;

    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 150%;
}
.prealarm{
    grid-area: prealarm;

    display: grid;
    justify-items: center;
    align-items: center;

    border-left: 2px solid rgb(235, 235, 235);
    font-size: 150%;
}
.aside{
    display: grid;

    background-color: white;
    box-shadow: 0px 3px 4px -1px rgba(0,0,0,0.48);
}


@font-face{
    src: url('assets/fonts/Nunito/Nunito-SemiBold.ttf');
    font-family: 'Nunito';
}