*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    width: 100%;
}

.grid1{
    display: grid;
    height: 100%;
    width: 100%;

    grid-template-columns: 1fr 6fr 3.5fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas: 
        ". .      .    ."
        ". slider form ."
        ". .      .    .";
    
        background-color: rgba(235, 235, 235, 0.315);
}
#frame-1{
    grid-area: slider;
}
.frame1{
    background-color: rgb(89, 0, 107);
    box-shadow: 0px 0px 3px 0.5px rgba(0,0,0,0.73);

    display: grid;
    align-items: center;
}
#frame-2{
    grid-area: form;
}
.frame2{
    background-color: white;
    box-shadow: 0px 0px 3px 0.5px rgba(0,0,0,0.25);
}

h1{
    padding-left: 13%;
    padding-bottom: 13%;
    font-size: 300%;
    font-family: Nunito;
}
h3{
    padding-left: 13%;
    font-size: 150%;
    font-family: Nunito;
}
.input-text{
    margin-left: 13%;
    width: 70%;
    height: 38px;
    font-size: 130%;
    box-shadow: 0px 0px 3px 0.5px rgba(0,0,0,0.20);
    border: none;
    margin-bottom: 10%;
    text-indent: 15px;
    font-family: Nunito;
}
.button{
    display: inline-block;
    background-color: rgb(89, 0, 107);
    margin-left: 13%;
    width: 70%;
    height: 40px;
    font-size: 150%;
    color: white;
    border: none;
    font-family: Nunito;
    box-shadow: 0px 0px 10px -5px purple;
}


@font-face{
    src: url('assets/fonts/Nunito/Nunito-SemiBold.ttf');
    font-family: 'Nunito';
}


