<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'RTV.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/Nunito/Nunito-SemiBold.ttf' %}">
    <title>Real Time Viewer</title>
</head>
<body>

    <div id="module01" class="module">
        <div class="name"     id="n_01"   > {{ names.m_01 }} </div>
        <div class="ppm"      id="ppm_01" > {{module01.cant}}{{module01.unit}} </div>
        <div class="alarm"    id="a_01"   > Alarm</div>
        <div class="prealarm" id="p_01"   > PreAlarm</div>
    </div>
    <div id="module02" class="module">
        <div class="name"     id="n_02"   > {{ names.m_02 }} </div>
        <div class="ppm"      id="ppm_02" > {{module02.cant}}{{module02.unit}} </div>
        <div class="alarm"    id="a_02"   >   Alarm</div>
        <div class="prealarm" id="p_02"   > PreAlarm</div>
    </div>
    <div id="module03" class="module">
        <div class="name"     id="n_03"   > {{ names.m_03 }} </div>
        <div class="ppm"      id="ppm_03" > {{module03.cant}}{{module03.unit}} </div>
        <div class="alarm"    id="a_03"   > Alarm</div>
        <div class="prealarm" id="p_03"   > PreAlarm</div>
    </div>
    <div id="module04" class="module">
        <div class="name"     id="n_04"   > {{ names.m_04 }} </div>
        <div class="ppm"      id="ppm_04" > {{module04.cant}}{{module04.unit}} </div>
        <div class="alarm"    id="a_04"   > Alarm</div>
        <div class="prealarm" id="p_04"   > PreAlarm</div>
    </div>
    <div id="module05" class="module">
        <div class="name"     id="n_05"   > {{ names.m_05 }} </div>
        <div class="ppm"      id="ppm_05" > {{module05.cant}}{{module05.unit}} </div>
        <div class="alarm"    id="a_05"   > Alarm</div>
        <div class="prealarm" id="p_05"   > PreAlarm</div>
    </div>
    <div id="module06" class="module">
        <div class="name"     id="n_06"   > {{ names.m_06 }} </div>
        <div class="ppm"      id="ppm_06" > {{module06.cant}}{{module06.unit}} </div>
        <div class="alarm"    id="a_06"   > Alarm</div>
        <div class="prealarm" id="p_06"   > PreAlarm</div>
    </div>
    <div id="module07" class="module">
        <div class="name"     id="n_07"   > {{ names.m_07 }} </div>
        <div class="ppm"      id="ppm_07" > {{module07.cant}}{{module07.unit}} </div>
        <div class="alarm"    id="a_07"   > Alarm</div>
        <div class="prealarm" id="p_07"   > PreAlarm</div>
    </div>
    <div id="module08" class="module">
        <div class="name"     id="n_08"   > {{ names.m_08 }} </div>
        <div class="ppm"      id="ppm_08" > {{module08.cant}}{{module08.unit}} </div>
        <div class="alarm"    id="a_08"   > Alarm</div>
        <div class="prealarm" id="p_08"   > PreAlarm</div>
    </div>
    <div id="module09" class="module">
        <div class="name"     id="n_09"   > {{ names.m_09 }} </div>
        <div class="ppm"      id="ppm_09" > {{module09.cant}}{{module09.unit}} </div>
        <div class="alarm"    id="a_09"   > Alarm</div>
        <div class="prealarm" id="p_09"   > PreAlarm</div>
    </div>
    <div id="module10" class="module">
        <div class="name"     id="n_10"   > {{ names.m_10 }} </div>
        <div class="ppm"      id="ppm_10" > {{module10.cant}}{{module10.unit}} </div>
        <div class="alarm"    id="a_10"   > Alarm</div>
        <div class="prealarm" id="p_10"   > PreAlarm</div>
    </div>
    <div id="module11" class="module">
        <div class="name"     id="n_11"   > {{ names.m_11 }} </div>
        <div class="ppm"      id="ppm_11" > {{module11.cant}}{{module11.unit}} </div>
        <div class="alarm"    id="a_11"   > Alarm</div>
        <div class="prealarm" id="p_11"   > PreAlarm</div>
    </div>
    <div id="module12" class="module">
        <div class="name"     id="n_12"   > {{ names.m_12 }} </div>
        <div class="ppm"      id="ppm_12" > {{module12.cant}}{{module12.unit}} </div>
        <div class="alarm"    id="a_12"   > Alarm</div>
        <div class="prealarm" id="p_12"   > PreAlarm</div>
    </div>
    <div id="module13" class="module">
        <div class="name"     id="n_13"   > {{ names.m_13 }} </div>
        <div class="ppm"      id="ppm_13" > {{module13.cant}}{{module13.unit}} </div>
        <div class="alarm"    id="a_13"   > Alarm</div>
        <div class="prealarm" id="p_13"   > PreAlarm</div>
    </div>
    <div id="module14" class="module">
        <div class="name"     id="n_14"   > {{ names.m_14 }} </div>
        <div class="ppm"      id="ppm_14" > {{module14.cant}}{{module14.unit}} </div>
        <div class="alarm"    id="a_14"   > Alarm</div>
        <div class="prealarm" id="p_14"   > PreAlarm</div>
    </div>
    <div id="module15" class="module">
        <div class="name"     id="n_15"   > {{ names.m_15 }} </div>
        <div class="ppm"      id="ppm_15" > {{module15.cant}}{{module15.unit}} </div>
        <div class="alarm"    id="a_15"    > Alarm</div>
        <div class="prealarm" id="p_15"    > PreAlarm</div>
    </div>
    <div id="module16" class="module">
        <div class="name"     id="n_16"   > {{ names.m_16 }} </div>
        <div class="ppm"      id="ppm_16" > {{module16.cant}}{{module16.unit}} </div>
        <div class="alarm"    id="a_16"   > Alarm</div>
        <div class="prealarm" id="p_16"   > PreAlarm</div>
    </div>
    <div id="module17" class="module">
        <div class="name"     id="n_17"   > {{ names.m_17 }} </div>
        <div class="ppm"      id="ppm_17" > {{module17.cant}}{{module17.unit}} </div>
        <div class="alarm"    id="a_17"   > Alarm</div>
        <div class="prealarm" id="p_17"   > PreAlarm</div>
    </div>
    <div id="module18" class="module">
        <div class="name"     id="n_18"   > {{ names.m_18 }} </div>
        <div class="ppm"      id="ppm_18" > {{module18.cant}}{{module18.unit}} </div>
        <div class="alarm"    id="a_18"   > Alarm</div>
        <div class="prealarm" id="p_18"   > PreAlarm</div>
    </div>
    <div id="module19" class="module">
        <div class="name"     id="n_19"   > {{ names.m_19 }} </div>
        <div class="ppm"      id="ppm_19" > {{module19.cant}}{{module19.unit}} </div>
        <div class="alarm"    id="a_19"    > Alarm</div>
        <div class="prealarm" id="p_19"    > PreAlarm</div>
    </div>
    <div id="module20" class="module">
        <div class="name"     id="n_20"   > {{ names.m_20 }} </div>
        <div class="ppm"      id="ppm_20" > {{module20.cant}}{{module20.unit}} </div>
        <div class="alarm"    id="a_20"   > Alarm</div>
        <div class="prealarm" id="p_20"   > PreAlarm</div>
    </div>

    <div id="aside" class="aside"> Aside</div>

    <!-- <script src="{% static 'RTV.js' %}"></script> -->
    
</body>
</html>