<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'apme_2020/configuration.css' %}">

    <title>Configuration</title>
</head>
<body>

    <section>
        <form action="/configuration/" method="POST">{% csrf_token %}
            <div class="card bg-dark text-white" style="overflow: hidden; border: none !important;">
                <img src="{% static 'apme_2020/assets/imgs/alcema_3.jpg' %}" class="card-img" alt="..." height="100%">
                <div class="card-img-overlay">
                    <h5 class="card-title">AP Technologies International</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam eius quos temporibus tenetur molestias perspiciatis aperiam eveniet corporis corrupti quasi, cum magni quia consequatur dolore atque eaque dolores rerum maiores.</p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>

            <div class="card card-conf">
                <div class="bg-dark card-header">
                    <h4>Configuracion de Modulos</h4>
                </div>
                <div class="bg-dark card-header table-header">
                    <h6>Modulo</h6>
                    <h6>Nombre</h6>
                    <h6>Activo</h6>
                </div>
                <div class="card-body">
                    <div class="info-input">
                        <h6>Modulo #01</h6>
                        <input class="form-control" type="text" placeholder="Nuevo nombre" aria-label="default input example" name="name_01">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" maxlength="20">
                        </div>
                    </div>

                    <div class="info-input">
                        <h6>Modulo #02</h6>
                        <input class="form-control" type="text" placeholder="Nuevo nombre" aria-label="default input example" name="name_02">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" maxlength="20">
                        </div>
                    </div>

                    <div class="info-input">
                        <h6>Modulo #03</h6>
                        <input class="form-control" type="text" placeholder="Nuevo nombre" aria-label="default input example" name="name_03">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" maxlength="20">
                        </div>
                    </div>

                    <div class="info-input">
                        <h6>Modulo #04</h6>
                        <input class="form-control" type="text" placeholder="Nuevo nombre" aria-label="default input example" name="name_04">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" maxlength="20">
                        </div>
                    </div>

                    <div class="info-input">
                        <h6>Modulo #05</h6>
                        <input class="form-control" type="text" placeholder="Nuevo nombre" aria-label="default input example" name="name_05">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" maxlength="20">
                        </div>
                    </div>

                    <div class="info-input">
                        <h6>Modulo #06</h6>
                        <input class="form-control" type="text" placeholder="Nuevo nombre" aria-label="default input example" name="name_06">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" maxlength="20">
                        </div>
                    </div>

                    <div class="info-input">
                        <h6>Modulo #07</h6>
                        <input class="form-control" type="text" placeholder="Nuevo nombre" aria-label="default input example" name="name_07">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" maxlength="20">
                        </div>
                    </div>

                    <div class="info-input">
                        <h6>Modulo #08</h6>
                        <input class="form-control" type="text" placeholder="Nuevo nombre" aria-label="default input example" name="name_08">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" maxlength="20">
                        </div>
                    </div>

                    <div class="info-input">
                        <h6>Modulo #09</h6>
                        <input class="form-control" type="text" placeholder="Nuevo nombre" aria-label="default input example" name="name_09">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" maxlength="20">
                        </div>
                    </div>

                    <div class="info-input">
                        <h6>Modulo #10</h6>
                        <input class="form-control" type="text" placeholder="Nuevo nombre" aria-label="default input example" name="name_10">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" maxlength="20">
                        </div>
                    </div>

                    <div class="info-input">
                        <h6>Modulo #11</h6>
                        <input class="form-control" type="text" placeholder="Nuevo nombre" aria-label="default input example" name="name_11">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" maxlength="20">
                        </div>
                    </div>

                    <div class="info-input">
                        <h6>Modulo #12</h6>
                        <input class="form-control" type="text" placeholder="Nuevo nombre" aria-label="default input example" name="name_12">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" maxlength="20">
                        </div>
                    </div>

                    <div class="info-input">
                        <h6>Modulo #13</h6>
                        <input class="form-control" type="text" placeholder="Nuevo nombre" aria-label="default input example" name="name_13">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" maxlength="20">
                        </div>
                    </div>

                    <div class="info-input">
                        <h6>Modulo #14</h6>
                        <input class="form-control" type="text" placeholder="Nuevo nombre" aria-label="default input example" name="name_14">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" maxlength="20">
                        </div>
                    </div>

                    <div class="info-input">
                        <h6>Modulo #15</h6>
                        <input class="form-control" type="text" placeholder="Nuevo nombre" aria-label="default input example" name="name_15">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" maxlength="20">
                        </div>
                    </div>

                    <div class="info-input">
                        <h6>Modulo #16</h6>
                        <input class="form-control" type="text" placeholder="Nuevo nombre" aria-label="default input example" name="name_16">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" maxlength="20">
                        </div>
                    </div>

                    <div class="info-input">
                        <h6>Modulo #17</h6>
                        <input class="form-control" type="text" placeholder="Nuevo nombre" aria-label="default input example" name="name_17">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" maxlength="20">
                        </div>
                    </div>

                    <div class="info-input">
                        <h6>Modulo #18</h6>
                        <input class="form-control" type="text" placeholder="Nuevo nombre" aria-label="default input example" name="name_18">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" maxlength="20">
                        </div>
                    </div>

                    <div class="info-input">
                        <h6>Modulo #19</h6>
                        <input class="form-control" type="text" placeholder="Nuevo nombre" aria-label="default input example" name="name_19">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" maxlength="20">
                        </div>
                    </div>

                    <div class="info-input">
                        <h6>Modulo #20</h6>
                        <input class="form-control" type="text" placeholder="Nuevo nombre" aria-label="default input example" name="name_20">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" maxlength="20">
                        </div>
                    </div>
                </div>
            </div>

            <div class="card card-conf">
                <div class="bg-secondary card-header">
                    <h4>Envio de correos</h4>
                </div>

                <div class="card-body">
                    <div class="">
                        <h6>Agregar correo:</h6>
                        <div class="mb-3">
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                        </div>
                        <button type="button" class="btn btn-primary" style="width: 100%;">Agregar</button>
                        <div class="bg-secondary card-header" style="margin-top: 1%;">
                            <h4>Lista de destinatarios</h4>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item list-emails">
                                <p>example@example.com</p>
                                <button type="button" class="btn btn-danger">Eliminar</button>
                            </li>
                            <li class="list-group-item list-emails">
                                <p>example@example.com</p>
                                <button type="button" class="btn btn-danger">Eliminar</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card card-conf card-info-red">
                <div class="bg-dark card-header">
                    <h4>Otras configuraciones</h4>
                </div>

                <div class="card-body">
                    <div class="bg-dark card-header" style="margin-top: 1%;">
                        <h4>Directorio:</h4>
                    </div>
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">/</span>
                            <input type="text" class="form-control" placeholder="Directorio" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="bg-dark card-header" style="margin-top: 1%;">
                        <h4>Ip Local</h4>
                    </div>
                    <div class="card-body">
                        <h6><span>http://127.0.0.1:5500/</span></h6>
                    </div>
                </div>
            </div>

            <div class="card card-conf card-info-red">
                <button type="submit" class="btn btn-success" style="width: 100%;">Guardar Configuraciones</button>
            </div>
        </form>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

</body>
</html>