*{
    margin: 0;
    padding: 0;
}

html{
    width: 100%;
    height: 100%;
}

body{
    display: grid;
    width: 100%;
    height: 100%;
    justify-items: center;
    background-color: rgb(245, 245, 245);
}


/* contaier */
.container{
    display: grid;
    width: 100%;
    height: 100%;
    gap: 10px;
    padding: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 8fr 0.5fr;
    grid-template-areas:  
        "header     header"
        "container1 container2"
        "footer     footer";
    font-family: 'Nunito';
    background-color: rgb(245, 245, 245);
}
#container_1{grid-area: header;}
#container_2{grid-area: container1;}
#container_3{grid-area: container2;}
#footer{grid-area: footer;}


/* container 1 */
.container_1{
    background-color: white;
    font-family: 'Nunito';
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px -5px #490F4A;
}


.title{
    display: grid;
    width: 100%;
    justify-items: center;
    background-color: gray;
    color: white;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
}


/* container 2 */
.container_2{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(21, 1fr);
    justify-items: center;
    gap: 10px;
    padding-bottom: 10px;
    background-color: white;
    border: none;
    box-shadow: 0px 0px 15px -5px #490F4A;
}
    /* input new name */
.in_new_name{
    padding-left: 20px;
    background-color: white;
    color: purple;
    border: none;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
    width: 500px;
}
    /* input states */
.in_state{
    width: 50px;
    background-color: aqua;
}


/* container 3 */
.container_3{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 12.5% 12.5% 75%;
    grid-template-areas: 
        'directory directory'
        'ip        ip'
        'mails     mails';
    background-color: white;
    box-shadow: 0px 0px 15px -5px #490F4A;
}
.directory{grid-area: directory;}
.show_ip{grid-area: ip;}
.emails{grid-area: mails;}
    /* set directory */
.directory input[type=text]{
    display: inline-block;
    width: 75%;
    height: 25px;
    margin: 10px 10px;
    padding-left: 5px;
    border: none;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
}
.directory input[type=button]{
    display: inline-block;
    width: 18%;
    height: 27px;
    border: none;
    background-color: purple;
    color: white;
}
    /* show ip */
.show_ip input[type=button]{
    display: inline-block;
    width: 25%;
    height: 27px;
    margin: 10px 0px 0px 10px;
    border: none;
    background-color: purple;
    color: white;
}
    /* configure emails */
.emails{
    display: grid;
    width: 100%;
    height: 100%;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 10fr;
    grid-template-areas: 
        'title title'
        'list  configure';
    background-color: white;
}
.emails_title{
    grid-area: title;
    display: inline-block;
    width: 100%;
}
.email_list{
    grid-area: list;
    display: inline-block;
    background-color: rgb(209, 209, 209);
}
#new_email{
    display: inline-block;
    margin-top: 10px;
    width: 50%;
    height: 25px;
    border: none;
    background-color: white;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
}
.button_email_ar{
    display: inline-block;
    width: 23%;
    height: 27px;
    border: none;
    background-color: purple;
    color: white;
}
.title_sender{margin-top: 10px;}
.input_sender{
    display: inline-block;
    margin: 11px 0px 0px 5px;
    padding-left: 5px;
    width: 95%;
    height: 25px;
    border: none;
    background-color: white;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
}



/* footer */
.footer{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:    
        ". . . . . . send send";
    background-color: white;
    box-shadow: 0px 0px 15px -5px #490F4A;
}
.buton_send{
    grid-area: send;
    width: 90%;
    height: 80%;
}



@font-face{
    src: url('assets/fonts/Nunito/Nunito-SemiBold.ttf');
    font-family: 'Nunito';
}







