body{
    display: grid;
    padding: 1% 2% 1% 2%;
    background-color: rgb(235, 235, 235);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section{
    display: grid;
    grid-template-rows: auto;
    gap: 1%;
    height: 100vh;
}

.module{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.10);
    border-radius: 2px;
}
.module h2{
    display: grid;
    padding: 0% 2%;
    width: 100%;
    justify-items: center;
    border-bottom: 1px solid gray;
}
.module .indicators{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 0% 2%;
    width: 100%;
    border-top: 1px solid gray;
}

@media (max-width: 2000px) {
    section{
        grid-template-columns: repeat(5, 1fr);
        height: 95vh;
    }
}

@media (max-width: 1600px) {
    section{
        grid-template-columns: repeat(5, 1fr);
        height: 95vh;
    }
}

@media (max-width: 1200px) {
    section{
        grid-template-columns: repeat(5, 1fr);
        height: 95vh;
    }
}

@media (max-width: 800px) {
    section{
        grid-template-columns: repeat(8, 1fr);
        height: 95vh;
        width: 95vh;
    }
}

@media (max-width: 670px) {
    section{
        grid-template-columns: repeat(4, 1fr);
        width: 99%;
    }
    .module .indicators{
        justify-items: center;
    }
    .module h1{
        font-size: 20px;
    }
    .module h2{
        font-size: 20px;
    }
    .module h3{
        font-size: 10px;
    }
}
