body{
    background-color: rgb(0, 0, 0) !important;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
header{
    display: grid !important;
    justify-items: center;
    width: 70%;
    padding: 20px 17px 0px 17px;
    text-justify: distribute;
    background-color: #000000 !important;
}
.container-img{
    display: grid !important;
    align-items: center !important;
    justify-items: center !important;
}
.container-img img{
    display: grid !important;
}
.skills{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}


nav{
    display: grid;
    width: 100%;
    padding-bottom: 20px !important;
    overflow: hidden;
    padding: 0px 2px;
    justify-items: center;
}


section{
    display: grid;
    justify-items: center;
    width: 100%;
    padding-bottom: 20px !important;
}
.card-projects:hover{
    box-shadow: 0px 0px 8px -1px #000000;
}
.card-projects img{
    width: 100% !important;
}
.card-projects{
    display: grid !important;
    background-color: white !important;
    width: 100% !important;
}
.card-info{
    display: grid;
    width: 100% !important;
    background-color: rgb(0, 0, 0) !important;
    color: white !important;
    border: none !important;
}
.link{
    display: grid !important;
    align-items: flex-end !important;
}



@media (max-width: 2000px) {
    
    header{
        width: 70%;
        padding: 20px 0px 0px 0px;
    }
    nav{
        width: 70%;
    }
    section{
        width: 70%;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
}

@media (max-width: 1600px) {
    header{
        padding: 20px 0px 0px 0px;
    }
    nav{
        width: 70%;
    }
    section{
        width: 70%;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}

@media (max-width: 1200px) {
    header{
        padding: 20px 0px 0px 0px;
    }
    .container-img{
        align-items: initial !important;
    }
    section{
        width: 70%;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width: 760px) {
    header{
        width: 90%;
        padding: 20px 0px 0px 0px;
    }
    section{
        width: 90%;
        grid-template-columns: 1fr;
        gap: 20px;
    }
}