<!DOCTYPE html>
<html lang="en">
<head>
    {% load  static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'portfolio.css'%}">
    <title>Portfolio Pablo Beltran</title>
</head>
<body>

    <div class="container">

        <div class="header">
            <div class="img_header"> <img src="{% static 'assets/imgs/perfil1' %}" alt="" width="100%"> </div>

            <div class="name"> 
                <h2> Pablo Andres Beltran Tovar </h2> 
                <h4>Ing. Mechatronic</h4>
            </div>

            <div class="personal_info1"> 
                <h2>Personal</h2> 
                <br>
                <h2>Age</h2>
                <br>
                <h2>City</h2>
                <br>
                <h2>Email</h2> 
                <br>
                <h2>Phone</h2> 
            </div>
            <dvi class="personal_info2">
                <h2>Information</h2>
                <br>
                <h2>22</h2>
                <br>
                <h2>San Luis Rio Colorado, Sonora</h2>
                <br>
                <h2>pablobeltran219@gmail.com</h2>
                <br>
                <h2>653-128-7094</h2>
            </dvi>

            <div class="personal_skills"> 
                <h2>Personal Skills</h2> 
                <ul>
                    <br>
                    <li>HTML + CSS + Javascript</li>
                    <br>
                    <li>Python + Django</li>
                    <br>
                    <li>Raspberry pi + Raspbian + Ubuntu</li>
                    <br>
                    <li>Docker / Virtualenv / Git</li>
                    <br>
                    <li>Digital and Analog Electronics</li>
                    <br>
                </ul>
            </div>

            <div class="personal_contac"> 
                <ul>
                    <a href="https://www.facebook.com/andres.beltran.56829446/">Facebook</a>
                    <a href="">Instagram</iNp></a>
                    <a href="">Twiter</a>
                </ul> 
            </div>
        </div>

        <a href="/personal_info/">
            <div class="project">
                <div class="title_project"> <h1> Personal Info </h1> </div>
                <div class="img_project"> <img src="{% static 'assets/imgs/perfil_portada.png' %}" alt=""> </div>
            </div>
        </a>

        <a href="/git/">
            <div class="project git">
                <div class="title_project title_project-git"> <h1> Git </h1> </div>
                <div class="img_project"> <img src="{% static 'assets/imgs/git_portada.png' %}" alt=""> </div>
            </div>
        </a>

        <a href="/django/">
            <div class="project django">
                <div class="title_project title_project-django"> <h1> Django </h1> </div>
                <div class="img_project"> <img src="{% static 'assets/imgs/django_portada.png' %}" alt=""> </div>
            </div>
        </a>

        <a href="/docker/">
            <div class="project docker">
                <div class="title_project title_project-docker"> <h1> Docker </h1> </div>
                <div class="img_project"> <img src="{% static 'assets/imgs/docker_portada.png' %}" alt=""> </div>
            </div>
        </a>

        <a href="/raspberry/">
            <div class="project raspberry">
                <div class="title_project title_project-raspberry"> <h1> Raspberry Pi </h1> </div>
                <div class="img_project"> <img src="{% static 'assets/imgs/raspberry_portada.png' %}" alt=""> </div>
            </div>
        </a>

        <a href="/python/">
            <div class="project python">
                <div class="title_project title_project-python"> <h1> Python </h1> </div>
                <div class="img_project"> <img src="{% static 'assets/imgs/python_portada.png' %}" alt=""> </div>
            </div>
        </a>

        <a href="">
            <div class="project raspberry">
                <div class="title_project title_project-raspberry"> <h1> Git Hub </h1> </div>
                <div class="img_project"> <img src="" alt=""> </div>
            </div>
        </a>

        <a href="">
            <div class="project python">
                <div class="title_project title_project-python"> <h1> Python </h1> </div>
                <div class="img_project"> <img src="" alt=""> </div>
            </div>
        </a>

    </div>
    
</body>
</html>