<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/Nunito/Nunito-SemiBold.ttf' %}">
    <title> {{ text }} </title>
</head>
<body class="grid1">

    <div class="frame1" id="frame-1">

        <img src="{% static 'assets/imgs/pancarta.png' %}" alt="">
    </div>

    <div class="frame2" id="frame-2">
        
        <img src="{% static 'assets/imgs/logo.png' %}" alt="">

        <h1>{{message}}</h1>

        <form action="/configuration/" method="POST">{% csrf_token %}
            <h3>USERNAME</h3>
            <input type="text" class="input-text" name="usernamein">
            <h3>PASSWORD</h3>
            <input type="password" class="input-text" name="pass">
            <input type="submit" value="Log In" class="button">
        </form>
        
    </div>
    
</body>
</html>